{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans 'Contribute' %}{% endblock %}

{% block content %}
<h1>{% trans 'Contribute' %}</h1>
<p>{% trans 'You can contribute in different ways:' %}</p>
<ul>
	<li>{% trans 'You can report bugs and feedback via the e-mail address in the imprint.' %}</li>
	<li>{% trans 'If you have an idea for a new tool we could chat about it and we'll see if it fits on our page.' %}</li>
	<!--<li>{% trans 'You could buy something on Amazon via  <a href="#">our affiliate link</a>.' %}</li>-->
	<!--<li>{% trans 'You could take a look on <a href="https://www.amazon.de/registry/wishlist/RIVQ9H0VQV1J/">our Amazon wishlist</a>, you know, Christmas is never far.' %}</li>-->
	<!--<li>{% trans 'If you like an article or tool you could flattr it.' %}</li>-->
    <li>{% trans 'If you have an idea for a blogpost you could tell us or you could even write it on your own and get it published on our site under your name.' %}</li>
</ul>
<p>{% trans 'But just to see that people are using this site would make us happy too.' %}</p>
{% endblock %}
