{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans 'Privacy Policy and Cookies' %}{% endblock %}

{% block content %}
<h1>{% trans 'Privacy Policy and Cookies' %}</h1>

<h4>{% trans '§1 The Data we save' %}</h4>
<p>{% trans 'We do not save any data. If an error occurs on the page we may turn on logging which will save IP-Addresses. But due to the lack of further information we cannot match the user and his IP, therefore and due to the fact that we delete the logs as soon as we found and fixed the error IP adresses are no individual related data.' %}</p>

<h4>{% trans '§2 Cookies' %}</h4>
<p>{% trans 'We use cookies. Because without cookies the internet does not work. Deal with it.' %}</p>

<h4>{% trans '§3 Third parties' %}</h4>
<p>{% trans 'We do not share any data with third parties. We handle it Vegas-Style: everything you enter on baronbale.de stays on baronbale.de. If a tool needs to send data to another server it will say so in the description of the tool.' %}</p>

<p>{% trans 'For further information see the imprint for contact details.' %}</p>
{% endblock %}
