{% extends 'base.html' %}
{% load static %}
{% block title %}Analyse{% endblock %}

{% block script %}
<script type="text/javascript" src="{% static 'js/flot/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'js/flot/jquery.flot.js' %}"></script>
<script type="text/javascript" src="{% static 'js/flot/jquery.flot.time.js' %}"></script>
<script type="text/javascript">
$(function() {
    {% autoescape off %}
    var downloads_per_hour = {{ downloads_per_hour }}
    {% endautoescape %}
    
    $.plot("#download_plot", [
        {label: "Downloads", data: downloads_per_hour}
    ], {
        xaxis: {
            mode: "time",
            minTickSize: [1, "hour"],
            timeformat: "%Y-%m-%d %H:%M:%S"
        }
    });
});
</script>
{% endblock script %}

{% block content %}
<h1>Analysestand</h1>
<h2>Datenbestand</h2>
<p>Insgesamt: {{ profile_count }}</p>
<h3>Zuletzt hinzugefügt</h3>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Hinzugefügt</th>
        </tr>
    </thead>
    <tbody>
        {% for tupel in last_users %}
        <tr>
            <td>{{ tupel.name }}</td>
            <td>{{ tupel.last_updated }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h3>Frauen</h3>
<p>Insgesamt: {{ women_count }}</p>
<table>
    <thead>
        <tr>
            <th>Age</th>
            <th>Count</th>
        </tr>
    </thead>
    <tbody>
        {% for tupel in count_by_age.women %}
        <tr>
            <td>{{ tupel.age }}</td>
            <td>{{ tupel.count }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h3>Männer</h3>
<p>Insgesamt: {{ men_count }}</p>
<table>
    <thead>
        <tr>
            <th>Age</th>
            <th>Count</th>
        </tr>
    </thead>
    <tbody>
        {% for tupel in count_by_age.men %}
        <tr>
            <td>{{ tupel.age }}</td>
            <td>{{ tupel.count }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<h3>Downloads pro Stunde der letzten 14 Tage</h3>
<div id="download_plot" style="width: 600px; height: 300px; margin: auto;"></div>
{% endblock content %}
